/*@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,500italic,700,700italic);*/
@font-face {
	font-family: Ubuntu-R; /* Regular 400 */
	src: url(../fonts/Ubuntu-R.ttf);
}
@font-face {
	font-family: Ubuntu-B; /* Bold 600 */
	src: url(../fonts/Ubuntu-B.ttf);
}
@font-face {
	font-family: Ubuntu-M; /* Medium 500*/
	src: url(../fonts/Ubuntu-M.ttf);
}
@font-face {
	font-family: Ubuntu-L; /* Light 300 */
	src: url(../fonts/Ubuntu-L.ttf);
}
body{
	font-family:Ubuntu-R;
}
a, a:focus{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.padding-r{
	padding: 0px;
}
.padding-l-r{
	padding-left: 0px;
}
.padding-r-r{
	padding-right: 0px;
}
.top-header{
	background-color: #233241;
	
}
.top-header ul{
	padding: 0px;
	margin: 0px;
}
.top-header ul li{ 
	display: inline-table;
	border-left: 1px rgba(255,255,255,0.1) solid;
}
.top-header ul li a {
    color: #ACB1B7;
    padding: 6px 16px;
    font-size: 13px;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Ubuntu-B;
}
.main-header{
	background-color: #2C3E51;
}
.main-header [class*="col-"]{
	padding: 32px 12px 22px;
}
.page-search .input-group i{
	position: absolute;
}
.page-search .form-control, .page-search .btn {
    height: 42px;
    padding: 0 12px;
    line-height: 38px;
    font-size: 14px;
}
.page-search .form-control {
    padding-left: 42px;
}
.page-search .btn {
    padding: 0 24px;
    width: 120px;
}
.btn-grey {
    background-color: #4C5D6F;
    color: #fff;
    font-size: 14px;
    height: 42px;
    line-height: 38px;
    padding: 0 18px;
}
.coupon-box {
    position: relative;
    border: 1px #d5d5d5 solid;
    background-color: #fff;
    text-align: center;
    margin: 12px 0;
    height: 316px;
    overflow: hidden;
}
.coupon-box .coupon-store {
    position: relative;
    overflow: hidden;
    height: 80px;
    border-bottom: 1px #d5d5d5 solid;
    text-align: center;
    line-height: 78px;
}
.coupon-box .coupon-type {
    font-size: 20px;
    font-family: Ubuntu-B;
    margin: 16px 0;
    line-height: 1;
}
.coupon-box .coupon-title {
    height: 80px;
    display: table;
    width: 100%;
}
.coupon-box .coupon-click {
    height: 50px;
}
.coupon-box .coupon-extras {
    position: absolute;
    right: 12px;
    top: 12px;
}
.coupon-box .coupon-store img {
    max-height: 70%;
    max-width: 100%;
}
.coupon-box .coupon-title span, .product-img-box .coupon-title span a {
    color: #333;
    line-height: 22px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    font-weight: 500;
    font-size: 15px;
    padding: 0 24px;
}
.btn-coupon {
    background-color: #5EAEF5;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    border-radius: 0;
    padding: 12px 24px;
    width: 220px;
    height: 42px;
}
.sz-2, .szh-2:hover, .szh-2:focus {
    box-shadow: 0 8px 12px -6px rgba(0,0,0,0.15),0 8px 8px -4px rgba(0,0,0,0.15);
}
.btn-coupon.btn-exclusive span {
    width: 94%;
    box-shadow: none;
    background-color: #2c3e51;
    box-shadow: inset -8px 0 #21354a;
}
.btn-coupon span, .btn-coupon small {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 12px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #3570A4;
}
.wrap-show {
    background-color: #f7f7f8;
}
.pop-cats ul {
	padding: 0px;
	margin:0px;
}
.pop-cats ul li{
	list-style: none;
}
.pop-cats ul li.heading{
	font-size: 20px;
    font-family: Ubuntu-M;
}
.pop-cats ul li a{
	font-size: 14px;
    color: #2c3e51;
    line-height: 26px;
}
.pop-cats{
    padding: 48px 0;
    overflow: hidden;
}
.deals-row {
    background-color: #E9E7E8;
    padding: 33px 0px;
}
.deals-row h2{
    margin-top: 0px;
}
.social-btns ul{
	padding: 0px;
	margin: 0px;
}

.social-btns ul > li {
    padding: 12px 8px;
}
.social-btns ul > li > a {
    font-size: 16px;
    background-color: #fff;
    padding: 12px 0;
    width: 190px;
    display: block;
    text-align: center;
    color: #5E5C5C;
    position: relative;
}
.stats ul li{
    width: 240px;
}
.stats ul > li > span:last-child b {
    font-size: 22px;
}
.stats ul > li > span:first-child {
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    border-radius: 50%;
    background-color: #8db654;
    color: #fff;
    line-height: 56px;
}
.stats ul > li > span:first-child > i {
    font-size: 22px;
}
.stats{
	padding: 34px 0;
	border-bottom: 1px #d5d5d5 solid;
	border-top: 1px #d5d5d5 solid;
    margin-bottom: 30px;
}
.footer-plugins-title{
    margin:15px 0px;
    color: #99B2D8;
    letter-spacing: 8px;
}
.exts ul li a{
	    display: block;`
    width: 176px;
    height: 50px;
    background-color: #3d3d3d;
    position: relative;
    overflow: hidden;
    text-align: left;
    color: #fff;
    padding-right: 12px;
}
.slogan {
    margin: 10px 2px 48px 4px;
}
.slogan h2 {
    color: #8db654;
    font-family: Ubuntu-B;
    font-size: 63px;
    display: inline-block;
}
.slogan a{
    display: inline-block;
}
.slogan h4{
    font-size: 25px;
}
.exts ul > li > a > i {
    font-size: 28px;
    padding: 10px 16px;
    position: relative;
}
.exts ul > li > a > i, .exts ul > li > a > span {
    float: left;
}
.exts ul > li > a > span > small {
    display: block;
    font-size: 14px;
    position: relative;
    top: 4px;
}
.exts ul > li > a > span > b {
    font-size: 18px;
}
.dropdown.open > a[data-toggle="dropdown"] > i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.main-header .btn {
    text-transform: uppercase;
    font-family: Ubuntu-B;
}
.dropdown > a:hover{
	color: #fff;
}
.page-suggest a{
	margin-bottom: 24px;
    display: block;
    overflow: hidden;
    border: 1px #d5d5d5 solid;
}
.page-suggest a:hover, .page-suggest a:focus {
    border-color: #8db654;
}
.stacked .tab-content div img{
	width: 100%;
}
.stacked  ul li a span,
.stacked  ul li a small{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 115%;
}
.stacked  ul li a {
    color: #333;
    text-align: center;
    background: transparent;
    position: relative;
    overflow: hidden;
    padding: 6px 12px;
    height: 50px;
    box-shadow: inset 0 0 #8DB654;
    transition: .15s;
    -webkit-transition: .15s;
    -moz-transition: .15s;
}
.white-space{
	padding: 24px 0px;
}
.smooth {
    transition: .35s;
    -webkit-transition: .35s;
    -moz-transition: .35s;
}
.store.store-big, .store.store-big > a {
    width: 100%;
    height: 78px;
    line-height: 68px;
}
.store-big img {
    width: 100%;
}
.page-suggest [class*="col-"] img{
    width: 100%;
}
.store > a > span {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(45,62,80,0.9);
    top: 0;
    left: 0;
    opacity: 0;
    color: #fff;
    font-size: 16px;
}
.store {
    text-align: center;
    width: 200px;
    height: 40px;
    border: 1px #d5d5d5 solid;
    overflow: hidden;
    line-height: 40px;
}
.wrap-show-coupon .nav-tabs{
	border:0px !important;
}
.wrap-show-coupon .nav-tabs > li.active > a, 
.wrap-show-coupon .nav-tabs > li.active > a:hover, 
.wrap-show-coupon .nav-tabs > li.active > a:focus{
	background-color: transparent !important ;
    border-top: 2px solid #8db654!important;
    border-right: 0px;
    border-left: 0px;
    border-bottom-color: transparent;
    border-radius: 0px !important;
}
.wrap-show-coupon .nav-tabs > li > a{
    padding: 12px 20px;
    font-weight: 400;
    color: #393939;
    font-size: 16px;
    border: 0!important;
    border-top: 3px transparent solid!important;
    transition: .2s;
}
.wrap-show-coupon .nav-tabs > li > a:hover {
     border-color:transparent!important; 
     background-color: transparent !important; 
}
.coupon-box .coupon-all a {
    padding: 4px 12px;
    color: #999;
    display: block;
    margin-top: 16px;
}
.coupon-box .coupon-all a:hover, 
.coupon-box .coupon-all a:focus {
    color: #333;
}
.social-btns ul > li > a.social-facebook:hover, 
.social-btns ul > li > a.social-facebook:focus {
    height: 100%;
    background-color: #3a5897;
    color: #fff !important;
}
.social-btns ul > li > a.social-facebook:hover .fa-facebook-official, 
.social-btns ul > li > a.social-facebook:focus .fa-facebook-official{
	color: #fff !important;
}
.social-btns ul > li > a.social-pinterest:hover, 
.social-btns ul > li > a.social-pinterest:focus{
    height: 100%;
    background-color: #bd081c;
    color: #fff !important;
}.
.social-btns ul > li > a.social-pinterest:hover .social-pinterest i, 
.social-btns ul > li > a.social-pinterest:focus .social-pinterest i{
	color: #fff !important;
}
.social-btns ul > li > a.social-twitter:hover, 
.social-btns ul > li > a.social-twitter:focus{
     height: 100%;
    background-color: #2AA9DF;
    color: #fff;   
}
.social-btns ul > li > a.social-twitter:hover, 
.social-btns ul > li > a.social-twitter:focus{
  height: 100%;
    background-color: #55acee;
    color: #fff;   
}
.social-btns ul > li > a.social-twitter:hover .fa-twitter-square, 
.social-btns ul > li > a.social-twitter:focus .fa-twitter-square{
	color: #fff; 
}
.social-btns ul > li > a.social-google:hover, 
.social-btns ul > li > a.social-google:focus{
  height: 100%;
    background-color: #dc4e41;
    color: #fff;   
}
.social-btns ul > li > a.social-google:hover .fa-google-plus-square, 
.social-btns ul > li > a.social-google:focus .fa-google-plus-square{
	color:#fff;
}
.social-btns ul > li > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
}
.social-btns ul > li > a > span {
    position: relative;
    z-index: 1;
}
.social-facebook i{
    color: #3A5897;
}
.social-pinterest i{
    color: #C91F27;
}
.social-twitter i{
    color: #2AA9DF;
}
.social-google i{
    color: #C53012;
}
.log-btn{
    background-color: #3570A4;
    color: #fff !important;
}
.nav-stacked > li.active{
    border-left:2px solid #8db654!important;
}
